/* reset de css tira tudo que é por padrão do navegador. */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* para adicionar a imagem */
  /* background-image: url(./assets/assets/bg-mobile.jpg); 

  para não repetir a imagem
  background-repeat: no-repeat;
  
  top para o eixo X e center para o eixo Y
  background-position: top center;

  Cover para preencher todo espaço visivel.
  background-size: cover; */

  /* atalho para todas as propriedades */
  background: url(./assets/assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  font-family: 'Inter', sans-serif;
  color: #ffffff
}

#container {
  width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
#profile{
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;

}
  /* links */

  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: stretch
  }

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 8px;
  backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);

 text-decoration: none;
 font-weight: 500;

 transition: background 0.3s;
}

ul li a:hover{
  background: rgba(255,255,255,0.05);
  border: 1.5px solid white;
}